@import "../styles/variables.scss";

.grid_container {
  width: 90%;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  gap: 30px;

  &_item {
    @include flex-container($direction: column);
    background: lighten($beige, 10%);
    box-shadow: $bs;
    border-radius: $br;
    overflow: hidden;
    transition: all 0.3s ease-in-out;

    &:hover {
      box-shadow: none;
    }
    &:hover img {
      transform: scale(1.2);
    }

    img {
      position: relative;
      width: 100%;
      box-shadow: $bs;
      border-radius: $br;
      transition: all 0.3s ease-in-out;
    }

    &_info {
      flex: 1;
      @include flex-container($direction: column, $align: flex-start);
      width: 100%;
      padding: 20px 15px;
      margin-top: 20px;

      h5 {
        font-size: 1em;
      }

      p {
        font-weight: lighter;
        font-size: 1.5em;
        margin-top: 5px;
        margin-bottom: 30px;
      }

      button {
        @include flex-container();
        font-weight: bold;
        margin-top: auto;
        width: 100%;
        font-size: 0.8em;
        border-color: $dark;
        color: $dark;
        background: rgba($pink, 0.2);

        &:hover {
          background: rgba($blue, 0.2);
        }
      }
    }
  }
}
