@import "../styles/variables.scss";

.header {
  background: $dark;

  @include breakpoint(md) {
    position: sticky;
    top: 0;
    z-index: 333;
  }

  &_content {
    padding: 10px 20px;
    @include flex-container($justify: space-between);

    &_brand {
      font-family: $titleFont;
      font-size: 3em;
      position: relative;

      a {
        color: $pink;
        position: relative;
        z-index: 1;
        transition: color 0.2s ease-in-out;

        &:hover {
          color: darken($pink, 10%);
        }
      }

      h6 {
        z-index: 0;
        position: absolute;
        top: 0;
        text-align: right;
        left: 0;
        bottom: 40%;
        right: -20%;
        font-size: 0.65em;
        padding: 0 5px;
        background: linear-gradient(
          45deg,
          rgba($blue, 0.07) 30%,
          rgba($blue, 0.35)
        );
        font-family: $primaryFont;
        cursor: context-menu;
      }
    }

    &_nav {
      @include flex-container(
        $direction: column,
        $justify: flex-start,
        $align: flex-start
      );
      padding-left: 25%;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba($dark, 0.975);
      transform: translateX(-100%);
      opacity: 0;
      z-index: 111;
      transition: transform 0.25s ease-in-out;

      &.isOpen {
        opacity: 1;
        transform: translateX(0);
      }

      @include breakpoint(md) {
        @include flex-container();
        padding: unset;
        position: static;
        background: transparent;
        width: auto;
        height: 100%;
        opacity: 1;
        transform: translateX(0);
      }

      ul {
        @include flex-container($direction: column);
        font-size: 2em;
        margin-top: 20vh;

        @include breakpoint(md) {
          @include flex-container();
          font-size: 1em;
          margin-top: unset;
        }

        li {
          width: 100%;
          margin-bottom: 40px;

          @include breakpoint(md) {
            width: unset;
            margin-bottom: unset;
          }

          a {
            text-align: left;
            border-radius: $br;
            color: $light;
            font-weight: lighter;
            transition: all 0.2s ease;

            @include breakpoint(md) {
              margin-right: 5px;
              padding: 7px 14px;
              height: 100%;
            }

            &:hover {
              color: darken($pink, 30%);
            }
            &:active {
              background: linear-gradient(rgba($pink, 0.15), rgba($pink, 0.05));
            }

            &.active {
              color: $pink;
              position: relative;

              &::after {
                position: absolute;
                content: "";
                width: 80%;
                height: 1px;
                background: darken($pink, 25%);
                bottom: 5px;
                left: 10%;

                @include breakpoint(md) {
                  bottom: 0;
                }
              }
            }
          }
        }
      }
    }

    button {
      margin: 10px 0;
      font-size: 2.15em;

      svg {
        margin-left: 5px;
        color: $pink;
      }

      @include breakpoint(md) {
        margin: unset;
        font-size: unset;
      }
    }

    // mobile navigation menu
    &_toggle {
      @include flex-container();
      color: $light;
      cursor: pointer;
      font-size: 2rem;
      position: relative;
      z-index: 222;

      @include breakpoint(md) {
        display: none;
      }
    }
  }
}

.header_badge {
  border: 2px solid $pink;
  position: relative;
  @include flex-container();

  &_notification {
    transition: all 1s ease;
    background: $pink;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;

    p {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 0.75em;
      line-height: 2;
    }
  }
}
